/* Global styles */

body {
  margin: 0;
  background: linear-gradient(180deg, rgb(117, 81, 194), rgb(255, 255, 255));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 90%; /* Set a percentage width for responsiveness */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: rgba(255, 255, 255, 0.9); /* Slightly transparent background for better readability */
  border-radius: 8px;
  box-sizing: border-box; /* Use border-box for consistent sizing */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
  display: flex;
  align-items: center;
}

li:hover {
  background: #dadbf9;
}

button.delete-btn {
  margin-left: auto;
}

a {
  font-weight: 800;
  text-decoration: none;
}

/* Home component styles */

.home-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.home-content {
  /* Add styling for the main content */
}


.todo-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns with equal width */
  gap: 10px; /* Spacing between items */
  list-style: none; /* Remove default list styles */
}

.todo-list li {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow effect */
}

.todo-list li button {
  margin-top: 8px; /* Add spacing between todo item and delete button */
}